<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <a class="navbar-brand" [routerLink]>Challenge Meetup</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item" *ngIf="authService.isAuthenticated">
          <a class="nav-link active" aria-current="page" [routerLink]="['meetings']">Meetings</a>
        </li>
        <li class="nav-item" *ngIf="authService.isAuthenticated">
          <a class="nav-link" [routerLink]="['cities']">Cities</a>
        </li>

        <li class="nav-item" *ngIf="authService.isAuthenticated">
          <a class="nav-link disabled" tabindex="-1" aria-disabled="true" *ngIf="authService.isAuthenticated" [routerLink]="['users']">Users</a>
        </li>
      </ul>
      <form class="d-flex" *ngIf="authService.isAuthenticated">
        <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-success" type="submit">Search</button>
      </form>

      <span class="navbar-text">
        <button class="btn btn-default"*ngIf="authService.isAuthenticated" (click)="logout()">Logout</button>
      </span>
    </div>
  </div>
</nav>
